body{
    background: -webkit-linear-gradient(-10deg, rgb(255,255,255), rgb(158, 43, 215));
    font-family: "Audiowide", sans-serif;
}
div h1{
    color: purple;
}


table, th, td{
    border : 2px solid black;
    border-collapse: collapse;
}

th, td{
    padding: 10px;
}

.prompt{
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color: aliceblue;
}

p{
    padding: 10px;
}